<main class="main-content mt-0">
	<div
		class="page-header align-items-start min-vh-100"
		style="background-image: url('/img/bg.avif');"
	>
		<span class="mask bg-gradient-dark opacity-6"></span>
		<div class="container my-auto">
			<div class="row">
				<div class="col-lg-4 col-md-8 col-12 mx-auto">
					<div class="card z-index-0 fadeIn3 fadeInBottom">
						<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
							<div
								class="bg-gradient-info shadow-dark border-radius-lg py-3 pe-1"
							>
								<h4 class="text-white font-weight-bolder text-center mt-2 mb-0">
									Sign Up
								</h4>
								<div class="row mt-3">
									<div class="col-2 text-center ms-auto">
										<a class="btn btn-link px-3" href="javascript:;">
											<i class="fa fa-facebook text-white text-lg"></i>
										</a>
									</div>
									<div class="col-2 text-center px-1">
										<a class="btn btn-link px-3" href="javascript:;">
											<i class="fa fa-github text-white text-lg"></i>
										</a>
									</div>
									<div class="col-2 text-center me-auto">
										<a class="btn btn-link px-3" href="javascript:;">
											<i class="fa fa-google text-white text-lg"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="card-body">
							{{#if loginError}}
								<div class="alert alert-primary alert-dismissible text-white" role="alert">
									<strong class="text-sm">{{loginError}} !!!</strong>
									<button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
								</div>
							{{/if}}
							<form action="/register" method="POST" class="text-center">
								<div class="input-group input-group-outline mb-3 {{#if userData.username}} is-focused{{/if}}">
									<label class="form-label">Username</label>
									<input
										type="text"
										class="form-control"
										name="username"
										value="{{userData.username}}"
										{{#if getCode}} readonly="true" {{/if}}
									/>
								</div>
								<div class="input-group input-group-outline my-3 {{#if userData.email}} is-focused{{/if}}">
									<label class="form-label">Email</label>
									<input type="email" class="form-control" name="email" value="{{userData.email}}" 
										{{#if getCode}} readonly="true" {{/if}}/>
								</div>
								<div class="input-group input-group-outline mb-3 {{#if userData.password}} is-focused{{/if}}">
									<label class="form-label">Password</label>
									<input type="password" class="form-control" name="password" value="{{userData.password}}"
									{{#if getCode}} readonly="true" {{/if}}/>
								</div>
								{{#if getCode}}
									<div class="bg-gradient-danger p-2 border-radius-lg">
										<p class="text-light mt-0 p-0">Check email end enter secret code </p>
										<div class="code-group d-flex gap-2 ps-2 pe-2">
											<div class="input-group input-group-outline">
												<input type="number" class="form-control text-light font-weight-bolder text-center" oninput="javascript:this.value.length == 1?this.parentElement.nextElementSibling.children[0].focus():'' " name="a" max="9"/>
											</div>
											<div class="input-group input-group-outline">
												<input type="number" class="form-control text-light font-weight-bolder text-center" oninput="javascript:this.value.length == 1?this.parentElement.nextElementSibling.children[0].focus():'' " name="b" max="9"/>
											</div>
											<div class="input-group input-group-outline">
												<input type="number" class="form-control text-light font-weight-bolder text-center" oninput="javascript:this.value.length == 1?this.parentElement.nextElementSibling.children[0].focus():'' " name="c" max="9"/>
											</div>
											<div class="input-group input-group-outline">
												<input type="number" class="form-control text-light font-weight-bolder text-center" oninput="javascript:this.value.length == 1?this.parentElement.nextElementSibling.children[0].focus():'' " name="d" max="9"/>
											</div>
										</div>
									</div>
								{{/if}}
								<div class="text-center">
									<button
										type="submit"
										class="btn bg-gradient-info w-100 my-4 mb-2"
									>
										Sign Up
									</button>
								</div>
								<p class="mt-4 text-sm text-center">
									Don't have an account?
									<a
										href="/login"
										class="text-info text-gradient font-weight-bold"
									>Sign in</a>
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>