body {
  background: url("/assets/img/board.png") no-repeat center center fixed;
  background-size: cover;
  background: linear-gradient(90.9deg, rgb(255, 187, 187) -8.8%, rgb(255, 220, 177) 12.4%, rgb(255, 249, 177) 35.6%, rgb(220, 255, 177) 59.6%, rgb(177, 218, 255) 84%, rgb(222, 177, 255) 107.9%);
  background-attachment: fixed;
}

.board {
  height: auto;
  padding: 20px;
  border-radius: 30px;
  box-sizing: border-box !important;
}

.ticBtns {
  box-sizing: border-box !important;
  height: 150px;
  width: 150px;
  background: rgba(90, 0, 255, 0.36);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 2px solid rgba(90, 0, 255, 1);
  margin: 2px;
  font-size: 70px;
  transition: 0.2s;
}

.ticBtns:hover {
  border-radius: 20px;
  transform: rotate(-5deg);
  background: rgba(90, 0, 255, 0.7);
}

.ticBtns.bot {
  background: rgba(255, 0, 0, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 2px solid rgba(255, 0, 0, 1);
  color: red;
}

.ticBtns.bot:hover {
  background: rgba(255, 0, 0, 0.7);
}

.ticBtns.player {
  background: rgba(8, 255, 0, 0.36);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 2px solid rgb(5, 155, 0);
}

.ticBtns.player:hover {
  background: rgba(8, 255, 0, 0.7);
}

.reset {
  position: absolute;
  background: rgba(0, 255, 255, 0.48);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 3px solid rgb(0, 133, 133);
  left: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  font-size: 80px;
  transition: 1s;
}

.reset:hover {
  background: rgb(0, 183, 255);
}

.winBoard {
  position: absolute;
  background: #000;
  height: 100px;
  width: 100px;
  left: -50%;
  top: -50%;
  transform: translate(-50%, -50%);
}

.winner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 100%;
  text-align: center;
  z-index: 5;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  border: 1px solid rgba(0, 0, 0, 1);
  justify-content: center;
  align-items: center;
  display: flex;
  animation: JumpOut 0.7s ease-in-out;
}

#winText {
  color: #fff !important;

}

@keyframes JumpOut {
  0% {
    top: -1230px;
    height: 0px;
    width: 0px;
  }

  100% {
    top: 50%;
  }
}