<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
	<!-- Navbar -->
	{{>navbar}}
	<!-- End Navbar -->
	<div class="container-fluid py-4">
    <div class="col-lg-6 text-center m-auto mt-5">
    <a href="/games/bugvsdev/junior" class="btn bg-gradient-success w-100 m-auto fs-1 mb-3"> junior</a>
    <a href="/games/bugvsdev/middle" class="btn bg-gradient-warning w-100 m-auto fs-1 mb-3">
     middle</a>
    <a href="/games/bugvsdev/senior" class="btn bg-gradient-danger w-100 m-auto fs-1 mb-3"> 
    senior</a>
    </div>
	</div>
</main>